<!-- <p>sidenav works!</p> -->
<mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/ibex.png" height="40" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon style="color: white;">home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon style="color: white;">dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item> <mat-icon style="color: white;">edit</mat-icon> Link 3 </a>
    <a mat-list-item> <mat-icon style="color: white;">edit</mat-icon> Link 4 </a>
    <a mat-list-item> <mat-icon style="color: white;">edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon style="color: white;">edit</mat-icon> Link 6 </a>
  </mat-nav-list>